{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('user-panel/vendor/slick/slick.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="./vendor/slick/slick-theme.css" /> -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('user-panel/vendor/basic-table/jquery.basictable.min.js') }}"></script>
    <script src="{{ asset('user-panel/js/plugins/basic-table-init.js') }}"></script>


    <script src="{{ asset('user-panel/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('user-panel/js/plugins/perfect-scrollbar-init.js') }}"></script>

    <script src="{{ asset('user-panel/vendor/apexchart/apexcharts.min.js') }}"></script>
    <script src="{{ asset('user-panel/js/dashboard.js') }}"></script>
    <script src="{{ asset('user-panel/js/plugins/apex-price.js') }}"></script>

    <script src="{{ asset('user-panel/vendor/slick/slick.min.js') }}"></script>
    <script src="{{ asset('user-panel/js/plugins/slick-init.js') }}"></script>
    <script src="{{ asset('user-panel/js/scripts.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="header-content">
                        <div class="header-left">
                            <div class="brand-logo">
                                <a href="{{ path('exchangeHome') }}">
                                    <img src="{{ asset('user-panel/images/logo.png') }}" alt="">
                                    <span>بیت سام</span>
                                </a>
                            </div>
                            <div class="search">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="جستجو">
                                        <span class="input-group-text"><i class="icofont-search"></i></span>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="header-right">
                            <div class="dark-light-toggle" onclick="themeToggle()">
                                <span class="dark"><i class="icofont-moon"></i></span>
                                <span class="light"><i class="icofont-sun-alt"></i></span>
                            </div>
                            <div class="notification dropdown">
                                <div class="notify-bell" data-toggle="dropdown">
                                    <span><i class="icofont-alarm"></i></span>
                                </div>
                                <div class="dropdown-menu dropdown-menu-left notification-list">
                                    <h4>اطلاع رسانی ها</h4>
                                    <div class="lists">
                                        {%  set notifis = notification.notification(app.user,5) %}
                                        {% for notifi in notifis %}
                                            <a href="#" class="">
                                                <div class="d-flex align-items-center">
                                                    <span class="ml-3 icon pending"><i class="{{ notifi.icon }}"></i></span>
                                                    <div>
                                                        <p>{{ notifi.des}}</p>
                                                        <span>{{ jdate.jdate('Y/n/d  H:i',notifi.dateSubmit) }}</span>
                                                    </div>
                                                </div>
                                            </a>
                                        {% endfor %}
                                        <a href="settings-activity.html">بیشتر <i class="icofont-simple-left"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="profile_log dropdown">
                                <div class="user" data-toggle="dropdown">
                                    <span class="thumb"><img class="rounded" src="{{ asset('https://www.gravatar.com/avatar/' ~ twigFunctions.gravatarHash(app.user.email)) }}" alt=""></span>
                                    <span class="arrow"><i class="icofont-angle-down"></i></span>
                                </div>
                                <div class="dropdown-menu dropdown-menu-left">
                                    <div class="user-email">
                                        <div class="user">
                                            <span class="thumb"><img class="rounded" src="{{ asset('https://www.gravatar.com/avatar/' ~ twigFunctions.gravatarHash(app.user.email)) }}" alt=""></span>
                                            <div class="user-info">
                                                <h5>{{  app.user.name ~ ' ' ~ app.user.family}}</h5>
                                                <span>{{ app.user.email }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{{ path('app_user_profile') }}" class="dropdown-item">
                                        <i class="icofont-ui-user"></i>پروفایل
                                    </a>
                                    <a href="{{ path('exchangeWallets') }}" class="dropdown-item">
                                        <i class="icofont-wallet"></i>کیف پول
                                    </a>
                                    <a href="settings-profile.html" class="dropdown-item">
                                        <i class="icofont-ui-settings"></i> تنظیمات
                                    </a>
                                    <a href="settings-activity.html" class="dropdown-item">
                                        <i class="icofont-history"></i> فعالیت
                                    </a>
                                    <a href="{{ path('app_logout') }}" class="dropdown-item logout">
                                        <i class="icofont-logout"></i> خروج
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar">
        <div class="brand-logo">
            <a href="index.html"><img src="images/logo.png" alt="">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="{{ path('exchangeHome') }}" data-toggle="tooltip" data-placement="right" title="خانه">
                        <span><i class="icofont-ui-home"></i></span>
                    </a>
                </li>
                <li><a href="trade.html" data-toggle="tooltip" data-placement="right" title="خرید/فروش">
                        <span><i class="icofont-stack-exchange"></i></span>
                    </a>
                </li>
                <li><a href="{{ path('exchangeWallets') }}" data-toggle="tooltip" data-placement="right" title="کیف پول">
                        <span><i class="icofont-wallet"></i></span>
                    </a>
                </li>
                <li><a href="{{ path('exchangeWallets') }}" data-toggle="tooltip" data-placement="right" title="کیف پول">
                        <span><i class="icofont-wallet"></i></span>
                    </a>
                </li>
                <li><a href="price.html" data-toggle="tooltip" data-placement="right" title="قیمت ها">
                        <span><i class="icofont-price"></i></span>
                    </a>
                </li>
                <li class="logout"><a href="{{ path('app_logout') }}" data-toggle="tooltip" data-placement="right" title="خروج">
                        <span><i class="icofont-power"></i></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>


    <div class="content-body">
        {% block appBody %}{% endblock %}
    </div>
{% endblock %}
