{% extends 'exchange/base.html.twig' %}

{% block title %}شارژ حساب{% endblock %}
{% block appBody %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-info">
                    <div class="alert-heading">
                        نحوه شارژ حساب ریالی
                    </div>
                    <hr>
                    <p class="">
                        جهت افزایش اعتبار کیف پول ریالی خود با استفاده درگاه پرداخت آنلاین ، ابتدا مبلغ مورد نظر برای افزایش موجودی را در کادر زیر به تومان وارد کنید، سپس با کلیک بر روی دکمه «انتقال به درگاه پرداخت» به درگاه پرداخت بانک منتقل می شوید. سپس می توانید با استفاده از کارت بانکی خود و رمز دوم آن ، اقدام به پرداخت و افزایش موجودی خود کنید .
                    </p>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="card">
                    <div class="card-header">
                        شارژ حساب
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
