{% extends 'exchange/base.html.twig' %}

{% block title %}کیف پول‌ها{% endblock %}
{% block appBody %}
    <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="wallet-widget card">
                <h5>تراز تخمینی</h5>
                <h2><span class="text-primary">0.000</span> <sub>دلار</sub></h2>
                <p>= 0.000000 BTC</p>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="wallet-widget card">
                <h5>موجودی</h5>
                <h2><span class="text-success">0.000</span> <sub>دلار</sub></h2>
                <p>= 0.000000 BTC</p>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="wallet-widget card">
                <h5>تراز در انتظار</h5>
                <h2><span class="text-warning">0.000</span> <sub>دلار</sub></h2>
                <p>= 0.000000 BTC</p>
            </div>
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6">
            <div class="wallet-widget card">
                <h5>موجودی قفل شده</h5>
                <h2><span class="text-danger">0.000</span> <sub>دلار</sub></h2>
                <p>= 0.000000 BTC</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">کیف پول</h4>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    {% for wallet in wallets %}
                        <div class="card col-12">
                            <div class="card-body row">
                                <div class="col border-left ">
                                <span class="icon-title">
                                    <i class="cc {{ wallet.icon }}"></i>
                                    <span>{{ wallet.label }}</span>
                                </span>
                                </div>
                                <div class="col border-left">
                                    {{ wallet.balance }}
                                    {{ wallet.coin }}
                                </div>
                                <div class="col border-left">{{ wallet.ADR }}</div>
                                <div class="col">
                                    <div class="btn-group btn-group-sm" role="group" style="direction: ltr">
                                        {% if wallet.coin == 'IRT' %}
                                            <a class="btn btn-success" href="{{ path('exchangeIRTInput') }}">
                                                <i class="icofont-inbox"></i>
                                                واریز
                                            </a>
                                        {% else %}
                                            <a class="btn btn-success" href="#">
                                                <i class="icofont-inbox"></i>
                                                واریز
                                            </a>
                                        {% endif %}
                                        <a class="btn btn-danger" href="#">
                                            <i class="icofont-forward"></i>
                                            برداشت
                                        </a>
                                        {% if wallet.coin != 'IRT' %}
                                            <a class="btn btn-primary" href="#">
                                                <i class="icofont-rounded-left"></i>
                                                معامله
                                            </a>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
