<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>سام بیت - {% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('mormax/img/core-img/favicon.png') }}" type="image/x-icon" />

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="{{ asset('mormax/css/style.css') }}">

    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{{ asset('mormax/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('mormax/css/rtl.css') }}">

</head>
</head>

<body class="light-version">
<!-- Preloader -->
<div id="preloader">
    <div class="preload-content">
        <div id="dream-load"></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<nav class="navbar navbar-expand-lg navbar-white fixed-top" id="banner">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('home') }}"><span><img src="{{ asset('mormax/img/core-img/logo.png') }}" alt="logo"></span> مورمکس</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">صفحه اصلی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">بازار ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">راهنمای استفاده</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">کارمزد</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">سوالات متداول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">قوانین</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">بلاگ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">درباره ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">تماس با ما</a>
                </li>
                {% if not app.user %}
                    <li class="lh-55px"><a href="{{ path('app_login') }}" class="btn login-btn ml-50">ورود | عضویت</a></li>
                {% else %}
                    <li class="lh-55px"><a href="{{ path('exchangeHome') }}" class="btn login-btn ml-50">داشبورد </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- ##### Header Area End ##### -->
{% block body %}{% endblock %}

<div class="clearfix"></div>
<!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img">
    <div class="footer-content-area spec mt-0">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-lg-4 col-md-6">
                    <div class="footer-copywrite-info">
                        <!-- Copywrite -->
                        <div class="copywrite_text fadeInUp" data-wow-delay="0.2s">
                            <div class="footer-logo">
                                <a href="#"><img src="{{ asset('mormax/img/core-img/logo.png') }}" alt="logo"> مورمکس </a>
                            </div>
                            <p>سام بیت صرافی آنلاین با پشتیبانی از طیف وسیعی از ارز های دیجیتال میباشد که کار خود را از سال ۹۸ شروه کرده.</p>
                        </div>
                        <!-- Social Icon -->
                        <div class="footer-social-info fadeInUp" data-wow-delay="0.4s">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-3 col-md-6">
                    <div class="contact_info_area d-sm-flex justify-content-between">
                        <!-- Content Info -->
                        <div class="contact_info mt-x text-center fadeInUp" data-wow-delay="0.3s">
                            <h5>حریم خصوصی و ضوابط</h5>
                            <a href="#"><p>قرارداد تبلیغات</p></a>
                            <a href="#"><p>قوانین و مقررات</p></a>
                            <a href="#"><p>سیاست حریم خصوصی</p></a>
                            <a href="#"><p>حریم خصوصی فناوری</p></a>
                            <a href="#"><p>توافق نامه توسعه دهنده</p></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-2 col-md-6 ">
                    <!-- Content Info -->
                    <div class="contact_info_area d-sm-flex justify-content-between">
                        <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.2s">
                            <h5>لینک های مفید</h5>
                            <a href="#"><p>تبلیغات</p></a>
                            <a href="#"><p>توسعه دهندگان</p></a>
                            <a href="#"><p>منابع</p></a>
                            <a href="#"><p>شرکت</p></a>
                            <a href="#"><p>تماس با ما</p></a>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-3 col-md-6 ">
                    <div class="contact_info_area d-sm-flex justify-content-between">
                        <!-- Content Info -->
                        <div class="contact_info mt-s text-center fadeInUp" data-wow-delay="0.4s">
                            <h5>تماس با ما</h5>
                            <p>ایران ، تهران میدان ونک</p>
                            <p>شرکت توسعه فناوری سرکش</p>
                            <p>+999 90932 627</p>
                            <p>support@sambit.ir</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ########## All JS ########## -->
<!-- jQuery js -->
<script src="{{ asset('mormax/js/jquery.min.js') }}"></script>
<!-- Popper js -->
<script src="{{ asset('mormax/js/popper.min.js') }}"></script>
<!-- Bootstrap js -->
<script src="{{ asset('mormax/js/bootstrap.min.js') }}"></script>
<!-- All Plugins js -->
<script src="{{ asset('mormax/js/plugins.js') }}"></script>
<script src="{{ asset('mormax/js/animated.js') }}"></script>
<!-- script js -->
<script src="{{ asset('mormax/js/script.js') }}"></script>

</body>
</html>