{% extends 'general/base.html.twig' %}

{% block title %}صفحه اصلی{% endblock %}

{% block body %}
    <!-- ##### Wellcome Area Start ##### -->
    <section class="welcome_area demo-intro" id="home">
        <div class="hero-content transparent">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-10 offset-lg-1">
                        <!-- Wellcome Heading Text -->
                        <div class="welcome-text headline text-center">
                            <div class="promo-section mt-30 mb-0">
                                <div class="integration-link">
                                    <div class="integration-icon">
                                        <p class="badge">تخفیف</p>
                                    </div>
                                    <span class="integration-text">جذاب ترین پوسته <span class="bold">لندینگ پیج</span> در جهان!!</span>
                                </div>
                            </div>
                            <div class="cd-intro mt-20 default-title">
                                <h2 class="cd-headline clip is-full-width">
                                    <span class="w-text">قالب مورمکس </span>
                                    <span class="cd-words-wrapper">
                                <b class="special-span bold is-visible">جذاب</b>
                                <b class="special-span bold">پرسرعت</b>
                                <b class="special-span bold">سئو فرندلی</b>
			                    </span>
                                </h2>
                                <p class="desc w-text">قالب لندینگ پیج مورمکس <span class="special-span bold">کاملا خلاق و جذاب </span> با جدیدترین تکنولوژی و تکنیک های کدنویسی ، نوشته شده است و باسرعت بالای خود در کنار ظاهر جذابش ، موجب جذب کاربران به وبسایت شما میشود. </p>
                            </div>

                            <!-- Learn More Button-->
                            <div class="info-btn-group">
                                <a href="#demo" class="btn info-btn mr-3">مشاهده دمو ها</a>
                                <a href="https://www.rtl-theme.com/author/aliniyazi-html/" class="btn info-btn">خرید از راستچین</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Wellcome Area End ##### -->
{% endblock %}
