<!DOCTYPE html>
<html lang="fa-IR" dir="RTL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}بیتسام!{% endblock %}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('user-panel/images/favicon.png') }}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{{ asset('user-panel/css/style.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<div id="preloader"><i>.</i><i>.</i><i>.</i></div>

<div id="main-wrapper">
    {% block body %}{% endblock %}
</div>



<script src="{{ asset('user-panel/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('user-panel/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ asset('user-panel/js/scripts.js') }}"></script>
{% block javascripts %}{% endblock %}

<script>

</script>
</body>