{% extends 'base.html.twig' %}

{% block title %}ورود کاربران{% endblock %}

{% block body %}
    <div class="">
        <div class="container h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-xl-5 col-md-6">
                    <div class="mini-logo text-center my-4">
                        <a href="{{ path('home') }}"><img src="{{ asset('user-panel/images/logo.png') }}" alt=""></a>
                        <h4 class="card-title mt-3">ورود به بیت سام</h4>
                    </div>
                    <div class="auth-form card">
                        <div class="card-body">
                            {% if msg == 'mobile-verify' %}
                                <div class="alert alert-success">
                                    {% trans %}account_created_now_login{% endtrans %}
                                </div>
                            {% elseif msg == 'reset-password' %}
                                <div class="alert alert-success">
                                    {% trans %}your_password_was_reset{% endtrans %}
                                </div>
                            {% endif %}
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <form method="post" class="signin_validate row g-3">
                                <div class="col-12">
                                    <input type="email" value="" name="email" id="inputEmail" class="form-control" placeholder="ایمیل" required autofocus>
                                </div>
                                <div class="col-12">
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="کلمه عبور" required>
                                </div>
                                <div class="col-6">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">مرا بخاطر بسپار</label>
                                    </div>
                                </div>
                                <div class="col-6 text-left">
                                    <a href="{{ path('app_reset_password') }}">رمز خود را فراموش کردید ؟</a>
                                </div>
                                <div class="text-center">
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <button type="submit" class="btn btn-primary btn-block">ورود</button>
                                </div>
                            </form>
                            <p class="mt-3 mb-0">حساب کاربری ندارید ؟ <a class="text-primary" href="{{ path('app_register') }}">ثبت نام کنید</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
