{% extends 'exchange/base.html.twig' %}

{% block title %}اطلاعات کاربری{% endblock %}
{% block appBody %}
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12">
                <div class="card welcome-profile">
                    <div class="card-body">
                        <img src="{{ asset('https://www.gravatar.com/avatar/' ~ twigFunctions.gravatarHash(app.user.email)) }}" alt="">
                        <h4>خوش آمدید, {{ app.user.name ~ ' ' ~ app.user.family}}!</h4>
                        <p>به نظر می رسد شما هنوز تأیید نشده اید. برای استفاده از پتانسیل کامل کش خود را تأیید کنید.</p>

                        <ul>
                            <li>
                                <a href="#">
                                    <span class="verified"><i class="icofont-check-alt"></i></span>
                                    حساب را تأیید کنید
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="not-verified"><i class="icofont-close-line"></i></span>
                                    احراز هویت دو عاملی (2FA)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">اطلاعات </h4>
                        <a href="settings-profile.html" class="btn btn-primary">ویرایش</a>
                    </div>
                    <div class="card-body">
                        <form class="row">
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                                <div class="user-info">
                                    <span>شماره کاربری</span>
                                    <h4>{{ app.user.id }}</h4>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                                <div class="user-info">
                                    <span>ایمیل</span>
                                    <h4>{{app.user.email}}</h4>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                                <div class="user-info">
                                    <span>کشور</span>
                                    <h4>ایران</h4>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                                <div class="user-info">
                                    <span>عضویت</span>
                                    <h4>20/10/2020</h4>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                                <div class="user-info">
                                    <span>نوع</span>
                                    <h4>شخص حقیقی</h4>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col-xxl-8 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">تأیید و به روزرسانی </h4>
                    </div>
                    <div class="card-body">
                        <h5>وضعیت حساب : <span class="text-warning">در انتظار <i class="icofont-warning"></i></span> </h5>
                        <p>حساب شما تأیید نشده است. تأیید شوید تا بودجه ، تجارت و برداشت را فعال کنید.
                        </p>
                        <a href="#" class="btn btn-primary"> تأیید شوید</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">30٪ کمیسیون بدست آورید </h4>
                    </div>
                    <div class="card-body">
                        <p>دوستان خود را معرفی کنید و در کمیسون معاملات آنان شریک شوید</p>
                        <a href="#" class="btn btn-primary"> ورود به برنامه بازاریابی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
