{% extends 'base.html.twig' %}

{% block title %}عضویت{% endblock %}

{% block body %}
<div class="">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="mini-logo text-center my-4">
                    <a href="{{ path('home') }}"><img src="{{ asset('user-panel/images/logo.png') }}" alt=""></a>
                    <h4 class="card-title mt-3">حساب کاربری برای خود بسازید</h4>
                </div>
                <div class="auth-form card">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_errors(form) }}
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    {{ form_row(form.name, {'label':'نام','attr':{'placeholder':'مثال:علی'}}) }}
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    {{ form_row(form.family, {'label':'نام خانوادگی','attr':{'placeholder':'مثال:رضایی'}}) }}
                                </div>
                            </div>
                            <div class="col-12 pt-3">
                                {{ form_row(form.email,{'label':'پست الکترونیکی','attr':{'placeholder':'مثال:info@bitsam.ir'}}) }}
                            </div>
                            <div class="col-12 pt-3">
                                {{ form_row(form.mobile,{'label':'موبایل','attr':{'placeholder':'مثال:۰۹۱۲۰۰۰۱۱۱۱'}}) }}
                            </div>
                            <div class="col-12 pt-3">
                                {{ form_row(form.password,{'label':'کلمه عبور'}) }}
                            </div>
                            <div class="col-12 pt-3">
                                <div class="alert alert-danger">
                                    <i class="icofont icofont-tasks"></i>
                                    ثبت نام به معنی است که شما با
                                    <a class="" href="{{ path('staticPages',{'id':'rights'}) }}">
                                        قوانین
                                    </a>
                                    استفاده از سرویس و حریم خصوصی موافقت کرده اید.
                                </div>
                            </div>
                            <div class="text-center pt-3">
                                {{ form_row(form.submit,{'label':'ساخت حساب','attr':{'class':'btn btn-primary btn-block'}}) }}
                            </div>
                        {{ form_end(form) }}
                        <div class="text-center">
                            <p class="mt-3 mb-0"> <a class="text-primary" href="{{ path('app_login') }}">ورود</a> به حساب کاربری</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
