{% extends 'base.html.twig' %}

{% block title %}تایید شماره موبایل{% endblock %}

{% block body %}
<div class="">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-xl-5 col-md-6">
                <div class="mini-logo text-center my-4">
                    <a href="{{ path('home') }}"><img src="{{ asset('user-panel/images/logo.png') }}" alt=""></a>
                    <h4 class="card-title mt-3">موبایل خود را تایید کنید</h4>
                </div>
                <div class="auth-form card">
                    <div class="card-body">
                        <div class="alert alert-info">
                            ما یک کد  جهت تایید شماره تلفن همراه شما ارسال کردیم .کد ارسال شده را در بخش زیر وارد کنید.
                        </div>
                        {{ form_start(form) }}
                        <div class="col-12 pt-3">
                            {{ form_row(form.smsVerify,{'label':'کد اعتبارسنجی','attr':{'placeholder':'−  −  −  −  −  −','class':'text-center'}}) }}
                        </div>
                        <div class="text-center pt-3">
                            {{ form_row(form.submit,{'label':'تایید شماره تلفن‌همراه','attr':{'class':'btn btn-primary btn-block'}}) }}
                        </div>
                        {{ form_end(form) }}
                        <div class="text-center">
                            <p class="mt-3 mb-0"> <a class="text-primary" href="{{ path('app_login') }}">ورود</a> به حساب کاربری</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
